@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*   VARIABLES   */
:root {
  --font-family: "Poppins", sans-serf;
  --bold-font: 700;
  --bg-color: #faffbe; 
  --secondary-bg-color: #0a1a08;
  --font-color: #141212;
  --font-color-active: #000000;
  --secondary-font-color: #e5e518;
  --bottom-margin: 0.5rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

a:hover {
  color: var(--font-color);
}

body {
  font-family: var(--font-family);
  background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("https://www.aldi.es/content/dam/aldi/spain/inspiracion/alditrucos/2022/aprende-decorar-botellas-cristal-navidad/decorar-botellas-vidrio-navidad_cover_video.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/*  ---BASE---  */
.site-heading {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.site-heading-lower {
  font-size: 4rem;
  font-weight: var(--bold-font);
  color: var(--bg-color);
}

/*  Navbar  */
#mainNav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--bg-color);
}

.navbar-brand {
  color: var(--secondary-font-color);
}

.navbar-nav .nav-item .nav-link {
  color: var(--font-color);
  font-weight: var(--bold-font);
}

.navbar-nav .nav-item.active .nav-link {
  color: var(--font-color-active);
  text-decoration: underline;
}

.nav-link:hover {
  color: var(--font-color);
}

.btn {
  color: var(--font-color);
  background: var(--bg-color);
  font-weight: var(--bold-font);
  padding: 0;
}

.btn a:hover {
  color: var(--bg-color);
  background: var(--font-color);
}

.text-faded {
  color: rgba(255, 255, 255, 0.3);
}

/*   ---'HOME'---  */

.page-section {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*  Slider  */
.container-slider {
  padding: .5rem;
  width: 100%;
  display: grid;
  place-content: center;
}

.slider-frame {
  width: 100%;
  height: 480px;
  max-width: 1200px;
  overflow: hidden;
}

.slider-frame ul {
  display: flex;
  width: 400%;
  animation: slide 20s infinite cubic-bezier(0.55, 0.48, 0.37, 0.92);
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/*   Section   */
.cta {
  padding-top: .2rem;
  padding-bottom: .2rem;
}

.row {
  margin: -.5rem;
  padding: -1rem;
}

.cta-inner {
  position: relative;
  padding: 1rem;
  margin: 0.5rem;
  background-color: var(--bg-color);
  color: var(--font-color);
}

.section-heading {
  text-transform: uppercase;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 2rem;
  padding-bottom: .5rem;
}

.section-heading .section-heading-lower {
  display: block;
  font-size: 1.5rem;
}












.section-heading .section-heading-under {
  display: block;
  font-size: 1rem;
  text-transform: none;
  font-weight: 300;
  margin-top:.5rem;
}

.bg-faded {
  background-color: rgba(255, 255, 255, 0.85);
}

@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: underline;
  }
  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
  }
}

.btn-xl {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.intro {
  position: relative;
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: 75%;
    float: left;
  }
  .intro .intro-text {
    left: 600;
    width: 60%;
    margin-top: 3rem;
    background-color: rgba(24, 64, 8);
    color: cornsilk;
    position: absolute;
  }
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 45%;
  }
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid var(--font-color);
}

.cta .cta-innerv {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
}

@media (min-width: 992px) {
  .about-heading .about-heading-img {
    position: relative;
    z-index: 0;
  }
  .about-heading .about-heading-content {
    margin-top: -5rem;
    position: relative;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  .product-item .product-item-title {
    position: relative;
    z-index: 1;
    margin-bottom: -3rem;
  }
  .product-item .product-item-img {
    position: relative;
    z-index: 0;
    max-width: 60vw;
  }
  .product-item .product-item-description {
    position: relative;
    z-index: 1;
    margin-top: -3rem;
    max-width: 50vw;
  }
}

@media (min-width: 992px) {
  .list-hours {
    width: 50%;
    font-size: 1.1rem;
  }
}

.address strong {
  font-size: 1.2rem;
}

.footer {
   background-color: var(--bg-color);
}

.btn {
  box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
}

.font-weight-light {
  font-weight: 100 !important;
}

.mbtm{
  padding-top: 5rem;
}

.mbt{
  padding-top: 2rem;
}

.mbt1{
  color: var(--font-color);
  font-size: 1.2rem;
}

a.link{
  color: rgba(255, 255, 255, 0.7);
}

a.link:hover{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}

.section-content{
  font-family: 'Lora' !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 28px !important;
}

ul.errorlist{
  padding-top: .75rem;
  font-style: italic;
  color: red;
}

.contenedorFormulario{
  background-color: rgb(24, 64, 8);
  width: 50%;
  margin: 10px auto;
  border-radius: 5px;
  padding: 1px 0;
}

.contenedorFormulario form{
  text-align: center;
}

.contenedorFormulario input{
  width: 150px;
}

.contenedorFormulario table{
  color: #ffffff;
  margin: 20px auto;
}