{% extends "MariArteApp/base.html" %}
{% load static %}
{% block content %}

   <!-- Slider -->
   <section class="page-section">
    <div class="container-slider container">
      <div class="slider-frame">
        <ul>
            <li><img src="{% static 'MariArteApp/img/slider1.jpg' %}" alt=""></li>
            <li><img src="{% static 'MariArteApp/img/slider2.jpg' %}" alt=""></li>
            <li><img src="{% static 'MariArteApp/img/slider3.jpg' %}" alt=""></li>
            <li><img src="{% static 'MariArteApp/img/slider4.jpg' %}" alt=""></li>
        </ul>
      </div>
    </div>
  </section>

    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-3">
                <span class="section-heading-upper">Descubre la elegancia artesanal de MariArte</span>
                <span class="section-heading-lower">Botellas únicas para momentos especiales</span>
              </h2>
              <p class="mb-1">"¡Bienvenido a nuestra tienda online de botellas artesanales! Descubre una exquisita selección de botellas únicas, creadas conpasión y dedicación por artesanos expertos. 
                Cada botella cuenta con un diseño exclusivo y detalles meticulosos que las hacen  
                verdaderas obras de arte. Ya sea para regalar o disfrutar en casa, nuestras botellas artesanales añadirán un toque de         
                elegancia y originalidad a cualquier ocasión. Explora nuestra colección y elige la botella perfecta para ti. ¡Haz de cada     
                momento algo especial con nuestras botellas artesanales!"</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
{% endblock %}