{% extends "MariArteApp/base.html" %}
{% load static %}
{% block content %}

<section class="contact" id="contact">
    <h2 class="contact-title">Tienda</h2>
    <div class="row">
        {% for producto in productos %}
        <div class="col-md-4">
            <div class="card">
                <img src="{{producto.imagen.url}}" class="card-img-top">
                <div class="card-body">
                    <h7>{{producto.nombre}}</h7>
                    <p>{{producto.precio}} €</p>
                    <button class="btn btn-sm nav-item" type="button">
                        <a class="nav-link text-center" href="{% url 'carro:agregar' producto.id %}">Agregar al carro</a>
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}