{% extends "MariArteApp/base.html" %}
{% load static %}
{% block content %}

<section class="contact" id="contact">
    <h2 class="contact-title">Contáctanos</h2>
    <div class="contact-container">
        <div class="form">
            {% if "valido" in request.GET %}
            <p style="color: darkblue; text-align: center;">Se han enviado los datos. Gracias.</p>
            {% endif %}
            {% if "novalido" in request.GET %}
            <p style="color: darkblue; text-align: center;">Error al enviar los datos. Revise los datos.</p>
            {% endif %}
            <form id="form" action="https://formspree.io/f/mrgnqkpo" method="POST">
            {% csrf_token %}
                {{ miFormulario }}
                <input type="submit" value="Enviar" id="submit-btn" class="submit-btn"/>
            </form>
        </div>
    </div>
</section>

<script src="{% static 'MariArteApp/vendor/bootstrap/js/app.js' %}"></script>

{% endblock %}